{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
    <div class="block-background">
        <div class="block-text">
        <div class="titles">
        <h1 style="margin-top: 20px;">Welcome to the Landing page</h1>
        <h2>We're start-up that does something</h2>
            </div>
        
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo delectus voluptatibus nisi inventore obcaecati veniam suscipit corporis earum? Obcaecati dignissimos et error velit quia harum quae exercitationem est recusandae nihil?
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo delectus voluptatibus nisi inventore obcaecati veniam suscipit corporis earum? Obcaecati dignissimos et error velit quia harum quae exercitationem est recusandae nihil?
        </p>
        <h2>Sign up for out upcoming Launch!</h2>
        <div class="form">
            <form>
                <h5>First Name: </h5>
                <input type="text" maxlength="40vh">
    
                <h5>Last Name: </h5>
                <input type="text" maxlength="40vh">
    
                <h5>Email: </h5>
                <input type="email">
                <br>
                <input type="submit" value="Sign me up!">
            </form>
        </div>
        </div>

    </div>

</body>
</html>